@page "/"

<PageTitle>Home</PageTitle>

<h2>DSA Telephony </h2>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <h4>Add Contact</h4>
            <ContactForm />
        </div>

        <div class="col-md-8">
            <h4>Search Contacts</h4>
            <ContactSearch />

            <h4 class="mt-4">All Contacts</h4>
            <ContactList />
        </div>
    </div>
</div>

